<div class="welcome-heading-container" fxLayout="column" fxLayoutAlign="center center">
    <h5 class="welcome-heading">INTRODUCING</h5>
    <h1 class="welcome-heading">SOUND SPARK</h1>
</div>
<div style="width: 100%" fxLayoutAlign="center center">
    <div class="welcome-page-desc-container">
        <h3>We are a two-person team. </h3>
        <p>Sister and brother.</p>
        <p>Working with sound is our life passion.
        </p>
        <p>We deal with this
            subject
            in a wide range: from musical performances, sounding of mass events to implementations of sound processing
            algorithms.
        </p>
        <p>
            Innovation is our second common passion.
        </p>
        <p> That is why we decided to start a joint project in which we will
            discover the applications of neural networks in audio processing and develop our skills in network
            solutions.
        </p>
    </div>
</div>
