.welcome-heading-container {
margin-bottom: 32px;
}
.welcome-heading {
    margin: 0;
}
.welcome-page-desc-container {
    max-width: 600px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}
.welcome-page-desc-wrapper {
    width: 100%;
}
