<div fxLayout="column" fxLayoutAlign="center center">
    <h5>INTRODUCING</h5>
    <h1>SOUND SPARK</h1>
</div>
<div fxLayoutAlign="center center">
    <p>We are a two-person team. Sister and brother. Working with sound is our life passion. We deal with this subject
        in a wide range: from musical performances, sounding of mass events to implementations of sound processing
        algorithms.
        Innovation is our second common passion. That is why we decided to start a joint project in which we will
        discover the applications of neural networks in audio processing and develop our skills in network solutions.
        </p>
</div>

