<div class="welcome-heading-container" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="welcome-heading">INTRODUCING</h3>
    <h1 [@longFade] class="welcome-heading soundspark-heading">SOUND SPARK</h1>
</div>
<div class="welcome-page-desc-wrapper" fxLayoutAlign="center center">
    <div class="welcome-page-desc-container">
        <h3>We are a two-person team. </h3>
        <p>Sister and brother.</p>
        <p>Working with sound is our life passion.
            We deal with this
            subject
            in a wide range:
        </p>
        <p>
            from musical performances, sounding of mass events to implementations of sound processing
            algorithms.
        </p>
        <p>
            Innovation is our second common passion.
        </p>
        <p>
            That is why we decided to start a joint project in which we will
            discover the applications of neural networks in audio processing and develop our skills in network
            solutions.
        </p>
    </div>
</div>
