.title {
    margin: 0;
}

.title-container {
    margin-bottom: 32px;
}

.projects-container {
    max-width: 900px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.e2e-description-img-container {
    max-width: 450px;
}

.e2e-description {
    min-width: 50%;
}

.e2e-try-it-container {
    margin-top: 20px;
}

.solutions-container {
    margin-bottom: 16px;
}

.e2e-model-img {
    max-width: 90%;
}

.e2e-description-img-wrapper {
    margin-bottom: 40px;
    max-width: 800px;
    margin-top: 32px;
}

.e2e-try-it-container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.e2e-title {
    margin-top: 70px;
}
.kaldi-title {
    margin-bottom: 0;
}
.kaldi-container {
    margin-bottom: 50vh;
}
.e2e-container {
    margin-bottom: 100px;
}
