<div class="title-container" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <h1 class="title">AUTOMATIC</h1>
    <h1 class="title">&nbsp;SPEECH&nbsp;</h1>
    <h1 class="title">RECOGNITION</h1>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="projects-container">
        <div>
            <h3>There are several ASR solutions on the market right now but there are still many gaps to fill. As voice
                and speech recognition market is expected to grow even faster now, we decided to build our own solution
                from scratch.
            </h3>
            <h3>
                Our goal is to create a working ASR for the Polish language while testing different approaches to
                understand their advantages and their shortcomings.
            </h3>
            <h3>
                Our success criteria is to achieve Word Error Rate on level ~5% for the clean speech.
            </h3>
            <h3>
                We are just at the beginning of our journey-for this reason at this point of time we use only
                open-sourced data for testing and our home computation resources.
            </h3>
        </div>

        <div class="e2e-container">
            <h2 class="e2e-title">END&#8209;TO&#8209;END</h2>
            <p>
                The first approach that we tested was an End-to-End. There are several E2E working solutions currently on
                the market. Their pros is that they are fairly easy to design. On the other hand, they need a huge
                amount of data and computation resources to train a working model.
            </p>
            <p>
                The first approach that we tested was an End-to-End. There are several E2E working solutions currently on
                the market. Their pros is that they are fairly easy to design. On the other hand, they need a huge
                amount of data and computation resources to train a working model.
            </p>

            <div fxLayoutAlign="center">
                <div class="e2e-description-img-wrapper"
                     fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start" fxLayoutGap.gt-xs="50px"
                     fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap.xs="50px">
                    <div fxLayoutAlign="center">
                        <img (click)="showImg(modelImg.src)" #modelImg class="e2e-model-img"
                             src="assets/images/model.jpg">
                    </div>
                    <div class="e2e-description-img-container">
                        <p class="e2e-description">
                            On the left side you can see an image with model architecture that
                            was trained.
                            We used MFCC as speech features. We used CTC technique to match speech input frames into
                            output labels.
                        </p>
                        <p>
                            Even though keras method 'fit_generator' was used to minimise memory consumption needed for
                            training process, it was still crushing because of 'out of memory' error. Training had to be
                            divided into several turns of 5 epochs each.
                        </p>
                        <p>
                            As we knew that this solution would not produce the best results, we finished this
                            experiment at this stage.
                        </p>
                        <div class="e2e-try-it-container" fxLayout="column" fxLayoutAlign="center center">
                            <p>
                                You can give it a try here
                            </p>
                            <h3>
                                WER = 106%
                            </h3>
                            <button class="e2e-try-it-button" mat-raised-button routerLink="/asr">
                                Try it!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kaldi-container">
            <div fxLayout="column" fxLayoutAlign="center">
                <h2 class="kaldi-title">KALDI</h2>
                <h3 class="kaldi-title">IN PROGRESS</h3>
                <p>STAY TUNED!</p>
            </div>
        </div>
    </div>
</div>
