<div class="title" fxLayout.xs="column" fxLayoutAlign="center center" fx>
    <h1>AUTOMATIC</h1>
    <h1>&nbsp;SPEECH&nbsp;</h1>
    <h1>RECOGNITION</h1>
</div>
<div>
    <p>
        There are several ASR solutions on the market right now but still there are many gaps to fill. As voice and
        speech recognition market is expected to grow even faster now, we decided to build our own solution step by
        step. Our goal is to create working ASR for polish language and explore different approaches. Working means to
        achieve Word Error Rate on level ~5% for clean speech.
        Our approach is to make the best we can not investing any money, that means we use only open-sourced data and
        only our home computation resources.
    </p>
</div>
<div>
    <h3>ELO ELO</h3>
</div>
