a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
mat-toolbar {
    background: rgba(0, 0, 0, 0.92);
    position: fixed;
    top: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
}
