<div fxLayout="column" fxLayoutAlign="center" class="about-us-header">
    <h1>TEAM</h1>
    <h3>Who We Are</h3>
</div>
<div fxLayoutAlign="center center">
    <div class="card-container"
         fxLayout.xs="column"
         fxLayoutAlign="center center"
         fxLayoutGap.xs="35px"
         fxLayoutGap.gt-xs="5px">
        <mat-card>
            <img class="about-us-img" mat-card-image src="assets/images/roksa.jpg">
            <mat-card-content>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title>ROKSANA SOKOŁOWKSA&#8209;KOSTYK</mat-card-title>
                    <mat-card-subtitle>Audio Software Engineer (Amsterdam,&nbsp;NL)</mat-card-subtitle>
                </mat-card-header>
                <p>This is your Team Member description. Use this space to write a brief description of this person’s
                    role
                    and responsibilities, or add a short bio with a background summary. It’s also a great opportunity to
                    highlight how this person is an asset to the team.</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://www.linkedin.com/in/roksana-sokolowska-kostyk/" target="_blank"
                   mat-raised-button>LinkedIn</a>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <img class="about-us-img" mat-card-image src="assets/images/michasio.jpg">
            <mat-card-content>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title>MICHAŁ KOSTYK</mat-card-title>
                    <mat-card-subtitle>Java Software Developer (Gdańsk,&nbsp;PL)</mat-card-subtitle>
                </mat-card-header>
                <p>
                    This is your Team Member description. Use this space to write a brief description of this person’s
                    role
                    and responsibilities, or add a short bio with a background summary. It’s also a great opportunity to
                    highlight how this person is an asset to the team.
                </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://www.linkedin.com/in/micha%C5%82-kostyk/" target="_blank" mat-raised-button>LinkedIn</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
