.about-us-header {
    text-align: center;
}

mat-card-content, mat-card-title, mat-card-subtitle {
    color: aliceblue;
    text-align: center;
}

mat-card {
    background: inherit;
    max-width: 360px;
    justify-content: center;
}

.about-us-img {

}

.card-container {
    width: 900px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 50px;
}
