<div fxLayout="column" fxLayoutAlign="center" class="about-us-header">
    <h1>TEAM</h1>
    <h3>Who We Are</h3>
</div>
<div fxLayoutAlign="center center">
    <div class="card-container"
         fxLayout.xs="column"
         fxLayoutAlign.xs="center center"
         fxLayoutAlign.gt-xs="center start"
         fxLayoutGap.xs="35px"
         fxLayoutGap.md="30px"
         fxLayoutGap.lg="80px"
         fxLayoutGap.gt-lg="100px">
        <mat-card>
            <img class="about-us-img" mat-card-image src="assets/images/roksa.jpg">
            <mat-card-content>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title>ROKSANA SOKOŁOWKSA&#8209;KOSTYK</mat-card-title>
                    <mat-card-subtitle>Audio Software Engineer (Amsterdam,&nbsp;NL)</mat-card-subtitle>
                </mat-card-header>
                <p>
<!--                    info-->
                </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://www.linkedin.com/in/roksana-sokolowska-kostyk/" target="_blank"
                   mat-raised-button>LinkedIn</a>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <img class="about-us-img" mat-card-image src="assets/images/michasio.jpg">
            <mat-card-content>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title>MICHAŁ KOSTYK</mat-card-title>
                    <mat-card-subtitle>Java Software Developer (Gdańsk,&nbsp;PL)</mat-card-subtitle>
                </mat-card-header>
                <p>
                    <!--                    info-->
                </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://www.linkedin.com/in/micha%C5%82-kostyk/" target="_blank" mat-raised-button>LinkedIn</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
